@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito;
}

html{
  scroll-behavior: smooth;
}

body{
    background-color: #f9f2d8;;
}

/*HEADER*/

#logo{
    width: 2em;
    height: auto;
    padding: 0.2em;
  }

#hambur{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em;
    width: auto; 
  }
  
#hambur img {
    width: 32px; 
    height: auto;
  }


header{
    padding: 1em;
    background-image: url(img/banner.jpg);
    padding-bottom: 5em;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   }


#headerynav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

#hambur{
    width: 5%;
    height: auto;
    display: flex;
    padding: 0.2em;
    text-align: left;
}

nav{
    display: none;
  }

#textoheader{
  text-align: center;
}

#textoheader h1{
  font-family: 'DynaPuff';
  font-weight: 500;
  font-size: 2.3rem;
  color: #f9f2d8;
  padding-bottom: 0.1em;
}

#textoheader h3{
  font-size: 0.90rem;
  font-weight: 400;
  color: #f9f2d8;
}

#textoheader p{
    display: none;
}

 /*FORM*/

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    width: 100%;
  }
  
.contenedor{
    background-color: #bc88a6; 
    color: #f9f2d8;
    border-radius: 15px;
    padding: 1.5em;
    max-width: 400px;
    flex-direction: column
  }


#form p{
    margin-bottom: 0.5em;
    font-weight: 500;
  }

.contenedor h4{
    font-family: 'DynaPuff';
    font-weight: 400;
    font-size: 1.25em;
    color: #f9f2d8;
    padding-bottom: 0.1em;
  }


.contenedor input{
    padding: 0.5em;
    border-radius: 15px;
    border: none;
    margin-bottom: 1em;
    font-size: 1em;
    width: 100%;
    background-color: #f9f2d8;
    color:#bc88a6;
  }

.contenedor input::placeholder{
    color: #e199c281;
  }


.contenedor select{
    padding: 0.5em;
    border-radius: 15px;
    border: none;
    margin-bottom: 1em;
    font-size: 1em;
    width: 100%;
    background-color: #f9f2d8;
    color: #e199c281;
  }
  
.contenedor option{
  color: #bc88a6;
}

#inscribite{
    background-color: #f9f2d8;
    color: #bc88a6;
    border-radius: 15px;
    padding: 0.3em;
    font-size: 1em;
    font-weight: 800;
    border: none;
    margin-top: 1.2em;
    transition: 0.3s;
  }

#inscribite:hover{
    background-color: #bc88a6;
    color: #f9f2d8;
  }

/*GRILLA*/

#grilla{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 2em;
}

#grilla img{
  width: 100%; 
  border-radius: 12px;
}

#grillatexto{
  background-color: #9eb6d8;
  color: #f9f2d8;
  padding: 3.5em;
  border-radius: 12px;
  text-align: center;
}

#grillatexto h4{
  font-family: 'DynaPuff';
  font-weight: 400;
  font-size: 1.25em;
  padding-bottom: 0.6em;
}

#grillatexto p{
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 1.7em;
}

#grillatexto a{
  background-color: #f9f2d8;
  color: #9eb6d8;
  border-radius: 15px;
  padding: 0.5em;
  font-weight: 700;
  transition: 0.3s;
  font-size: 0.72em;
}

#grillatexto a:hover{
  background-color: #9eb6d8;
  color: #f9f2d8;
}

#grillatexto2{
  display: none;
}

/*ARTICULOS*/
#articulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
}

#articulos img{
    width: 100%; 
    border-radius: 12px;
}

#articulos h4, #articulos p{
  color: #f9f2d8;
}

#articulos h2{
  color: #ee7289;
  font-family: DynaPuff;
  font-weight: 500;
  padding: 2em;
}

#articulo1{
  background-color: #9eb6d8;
  padding: 1.5em;
  border-radius: 15px;
  margin-bottom: 2em;
}

#articulo1 h4{
  font-family: 'DynaPuff';
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
}

#articulo1 p{
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 1.5em;
}

#articulo1 a{
  background-color: #f9f2d8;
  color: #9eb6d8;
  border-radius: 15px;
  font-size: 0.70em;
  padding: 0.5em;
  font-weight: 700;
  transition: 0.3s;
}

#articulo1 a:hover{
  background-color: #9eb6d8;
  color: #f9f2d8;
}

#articulo2{
  background-color: #bc88a6;
  padding: 1.5em;
  border-radius: 15px;
  margin-bottom: 2em;
}

#articulo2 h4{
  font-family: 'DynaPuff';
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
}

#articulo2 p{
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 1.5em;
}

#articulo2 a{
  background-color: #f9f2d8;
  color: #bc88a6;
  border-radius: 15px;
  font-size: 0.70em;
  padding: 0.5em;
  font-weight: 700;
  transition: 0.3s;
}

#articulo2 a:hover{
  background-color: #bc88a6;
  color: #f9f2d8;
}

#articulo3{
  background-color: #8fc29e;
  padding: 1.5em;
  border-radius: 15px;
  margin-bottom: 2em;
}

#articulo3 h4{
  font-family: 'DynaPuff';
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.3em;

}

#articulo3 p{
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 1.5em;
}

#articulo3 a{
  background-color: #f9f2d8;
  color: #8fc29e;
  border-radius: 15px;
  font-size: 0.70em;
  padding: 0.5em;
  font-weight: 700;
  transition: 0.3s;
}

#articulo3 a:hover{
  background-color: #8fc29e;
  color: #f9f2d8;
}

#articulo4{
  background-color: #eb8b9c;
  padding: 1.5em;
  border-radius: 15px;
  margin-bottom: 2em;
}

#articulo4 img{
  display: none;
}

#articulo4 h4{
  font-family: 'DynaPuff';
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
}

#articulo4 p{
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 1.5em;
}

#articulo4 a{
  background-color: #f9f2d8;
  color: #eb8b9c;
  border-radius: 15px;
  font-size: 0.70em;
  padding: 0.5em;
  font-weight: 700;
  transition: 0.3s;
}

#articulo4 a:hover{
  background-color: #eb8b9c;
  color: #f9f2d8;
}

#articulo5{
  background-color: #eb8b9c;
  padding: 1.5em;
  border-radius: 15px;
  margin-bottom: 2em;
}

#articulo5 img{
  display: none;
}

#articulo5 h4{
  font-family: 'DynaPuff';
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
}

#articulo5 p{
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 1.5em;
}

#articulo5 a{
  background-color: #f9f2d8;
  color: #eb8b9c;
  border-radius: 15px;
  font-size: 0.70em;
  padding: 0.5em;
  font-weight: 700;
  transition: 0.3s;
}

#articulo5 a:hover{
  background-color: #eb8b9c;
  color: #f9f2d8;
}

.novedades{
  display: none;
}

/*FOOTER*/

footer{
  background-color: #ee7289;
  color: #f9f2d8;
  padding: 2em;
  text-align: center;
}

footer img{
  max-width: 35px;
}

footer h3{
  font-family: DynaPuff;
  font-weight: 500;
  padding-bottom: 0.7em;
}



/*TABLET*/

@media all and (min-width:768px){
    #hambur{
        display: none;
    }

    nav{
        display: block;
    }

    nav{
        display: flex;
        gap: 1.5em;
        align-items: center;
        padding-bottom: 0.4em;
      }

    nav a{
        color: #f9f2d8;
        font-family: 'DynaPuff';
        font-weight: lighter;
        padding: 0.2em;
        transition:  0.3s;
        font-size: 0.7rem;
        display: inline-block;
      }

    nav a:hover{
        background-color: #f9f2d8;
        color: #ee7289;
        border-radius: 15px;
        transition: 0.4s;
  }

    #logo{
        width: 3em;
  }

    header{
        width: 100%;
        background-size: cover;
        background-position: center;
     }
    
    #headerynav, #textoheader{
        width: 100%;
        padding: 3em;
        box-sizing: border-box;
  }

    #textoheader h1{
        font-size: 3.5em;
  }

    #textoheader h3{
        font-size: 1.3em;
        padding-bottom: 3em;
  }

  /*form*/

    .contenedor{
      max-width: 700px;
      width: 100%;
    }

    .contenedor input{
    margin-right: 0.5em;
    }

  /*grilla*/
     #grilla{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
        padding: 2em;
    }

    #imagen1{ 
      grid-column: 1; grid-row: 1; 
    }

    #grillatexto{
      grid-column: 2; grid-row: 1; text-align: left; 
    }

    #imagen2{
      grid-column: 1; grid-row: 2;
    }

    #grillatexto2{ 
        grid-column: 1 / span 2; 
        grid-row: 3; 
        display: block; 
        text-align: left; 
    }

    #imagen3{ 
    grid-column: 2; grid-row: 4;
    }

    #imagen4{ 
      grid-column: 1; grid-row: 4;
    } 

    #grillatexto{
      grid-column: 2;
      grid-row: span 2;
      text-align: center;
      padding-top: 12em;
    }

    #grillatexto2{
      display: block;
      background-color: #bc88a6;
      color: #f9f2d8;
      padding: 3em;
      border-radius: 12px;
      text-align: start;
    }

    #grillatexto2 h4{
      font-family: 'DynaPuff';
      font-weight: 400;
      font-size: 1.25em;
      padding-bottom: 0.6em;
    }

    #grillatexto2 p{
      font-size: 1em;
      font-weight: 600;
    }

  /*ARTICULOS*/
    #articulosgrilla{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
        padding: 2em;
}

    #articulo3{
        grid-row: span 2;
    }

    #articulos h2{
      font-size: 3em;
      padding: 1em;
    }

    .novedades{
  display: none;
}

/*footer*/
    footer{
      align-items: end;
      text-align: end;
    }

    
}



/*LAPTOP*/

@media all and (min-width:1200px){
    #hambur{
        display: none;
    }

    nav{
        display: block;
    }

    nav{
        display: flex;
        gap: 0.6em;
        align-items: center;
        padding-bottom: 0.4em;
      }

    nav a{
        color: #f9f2d8;
        font-family: 'DynaPuff';
        font-weight: lighter;
        padding: 1.3em;
        transition:  0.3s;
        font-size: 1rem;
        display: inline-block;
      }

    nav a:hover{
        background-color: #f9f2d8;
        color: #ee7289;
        border-radius: 20px;
  }

    #logo{
        width: 3.5em;
    }

    #textoheader h1{
        font-size: 6em;
        margin-top: 1.5em;
        text-align: start;
  }

    #textoheader h3{
        display: none;
  }

    #textoheader p{
            display: block;
            font-weight: 400;
            color: #f9f2d8;
            font-size: 1.3em;
            margin-bottom: 2em;
            text-align: start;
            width: 60%;
  }
    
 /*form*/

    #form{
      position: absolute;
      top: 80%; 
      right: 5%; 
      transform: translateY(-30%); 
      z-index: 10;
      max-width: 400px; 
      width: 100%;
  }

  .contenedor{
    max-width: 400px;
    border: #f9f2d8 solid 6px;
  }

  /*grilla 1 / galeria*/

#grilla{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: auto;         
  gap: 2em;
  max-width: 1400px;
  margin: auto;
  padding: 4em 2em;
}

#imagen1{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#imagen2{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#imagen3{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#imagen4{
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

#grillatexto{
  grid-column: 2 / 3;
  grid-row: span 2;
  background-color: #9eb6d8;
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#grillatexto2{
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  background-color: #CD90B1;
  padding: 6em;
  border-radius: 1em;
  text-align: center;
}


  #articulosgrilla{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
        padding: 2em;
    }


  #articulosgrilla article{
           width: 30%;
  }

  #articulo4 img{
        display: block;
 }

 #articulo5 img{
        display: block;
}

#articulos h2{
  font-size: 3em;
  padding: 1em;
}

#articulos a{
  font-size: 1em;
}

article{
  position: relative;
}

.novedades{
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #f9f2d8;
    color: #ee7289;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 800;
  }



}